body {
    font-size: 16px;
    font-family: monospace;
    background-color: #45cb96;
    height: 100%;
}

.main-body {
    margin: 0px !important;
    font-family: 'Proxima Nova',sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #45cb96;
}

.no-padding {
    padding: 0px !important;;
}
.no-margin {
    margin: 0px !important;;
}