.visualiser {
    font-weight: bold;
    font-size: 12px;
    font-family: Consolas;
    position: relative;
    height: 100% !important;
    background-color: #354147;
}
#vertical-slider {
    position: absolute;
    width: 10%;
    left: 10px;
    height: 75%;
    padding: 10px 0px;
    top:20px;
    overflow-y: scroll;
}

.vertical-slider-item {
    height: 25%;
    padding: 10px 10px;

}
.vertical-slider-item canvas {

    height: 100%;
    width: 100%;
}

#controls {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 20px;
}

#controls {

}


.cbp-vimenu {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #45cb96;
}

input[type=range].plain-range {
    -webkit-appearance: none;
    width: 100%;
    margin: 5.95px 0;
}
input[type=range].plain-range:focus {
    outline: none;
}
input[type=range].plain-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 14.1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #e67e22;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].plain-range::-webkit-slider-thumb {
    box-shadow: 0.3px 0.3px 0px #6a6a69, 0px 0px 0.3px #777776;
    border: 8.4px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5.95px;
}
input[type=range].plain-range:focus::-webkit-slider-runnable-track {
    background: #e67e22;
}
input[type=range].plain-range::-moz-range-track {
    width: 100%;
    height: 14.1px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: #e67e22;
    border-radius: 0px;
    border: 0px solid #010101;
}
input[type=range].plain-range::-moz-range-thumb {
    box-shadow: 0.3px 0.3px 0px #6a6a69, 0px 0px 0.3px #777776;
    border: 8.4px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].plain-range::-ms-track {
    width: 100%;
    height: 14.1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].plain-range::-ms-fill-lower {
    background: #e67e22;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].plain-range::-ms-fill-upper {
    background: #e67e22;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range].plain-range::-ms-thumb {
    box-shadow: 0.3px 0.3px 0px #6a6a69, 0px 0px 0.3px #777776;
    border: 8.4px solid rgba(0, 0, 0, 0);
    height: 26px;
    width: 9px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    height: 14.1px;
}
input[type=range].plain-range:focus::-ms-fill-lower {
    background: #e67e22;
}
input[type=range].plain-range:focus::-ms-fill-upper {
    background: #e67e22;
}





