<div class="visualiser">
    <div class="row no-margin" style="height: 100%;">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 no-padding" style="height: 100%;">
            <canvas id="visualiser" style="width: 100%; height: 100%; display: block"></canvas>
        </div>
    </div>
    <div id="controls" class="row no-margin">
        <div class="col-sm-4">
            <button type="button" ng-click="ctrl.resumeMusic()" ng-show="ctrl.isPaused">
                <img src="components/visualiser/img/play.png" height="30" >
            </button>
            <button type="button"  ng-click="ctrl.pauseMusic()" ng-show="!ctrl.isPaused">
                <img src="components/visualiser/img/pause.png" height="30" >
            </button>
            <button type="button"  ng-click="ctrl.stopMusic()">
                <img src="components/visualiser/img/stop.png" height="30" >
            </button>
        </div>
        <div class="col-sm-2">
            <input type="range" class="plain-range" name="gain" min="0" max="10" ng-model="ctrl.gainValue"
                   ng-change="ctrl.gainValueChanged()">
        </div>
        <div id="music-player" class="col-sm-6">
            <input type="range" class="plain-range" name="track" min="0" max="{{ctrl.trackDuration}}" ng-model="ctrl.trackPosition"
                   ng-change="ctrl.trackPositionChanged()">
            <span style="float:left">{{ctrl.secondsToDuration(ctrl.trackPosition)}}</span>
            <span style="float:right">{{ctrl.secondsToDuration(ctrl.trackDuration)}}</span>
        </div>
    </div>
</div>