.grid {
    position: relative;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 1200px;
}
.hide {
    display: none !important;
}
.play-list .now-playing {
    color: white;
}
.play-list .not-playing {
    color: #999999;
}
.seeker {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}