.grid-item {
    width: 50%;
    min-width: 100px;
}


.effects {
    top: 10vmin;
    right: 0;
    bottom: 5vmin;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 10vmin;
    -webkit-box-orient: vertical;
 }
.effects-list {
    margin: 0.5em 0 0;
    padding: 1em 0 0;
    border-top: 1px solid #379676;
    border-left: 0px;
    display: block;

}
.effects-button {
    display: block;
    -ms-flex: none;
    flex: none;
    width: 4em;
    height: 4em;
    margin: 0.5em 0;
    padding: 1em;
    color: #37a07c;
    border: 0;
    background: none;
    -webkit-box-flex: 0;
}

.player-button {
    width: 40px;
    height: 40px;
}

.icon {
    top: 10px;
    left: 10px;
}
