<svg class="hidden">
    <!-- made with Icomoon.io, Icons from http://www.entypo.com/ and https://icomoon.io/ -->
    <defs>
        <symbol id="icon-volume">
            <title>Layer 1</title>
            <rect style="vector-effect: non-scaling-stroke;" stroke-width="0" height="9.99881" width="3.18712"
                  y="5.71926" x="1.84472"/>
            <path style="vector-effect: non-scaling-stroke;"
                  transform="rotate(0.014850815758109093 7.53025484084952,10.061257362363685) " id="svg_2"
                  d="m4.73412,5.64312l5.60037,-5.39325l0.03918,19.62277l-5.68683,-4.2743"/>
            <path d="m12.75681,10.32383l-1.09267,-5.37436l0.71961,0l1.09267,5.37436l-1.09267,5.37436l-0.71961,0l1.09267,-5.37436z"
                  fill-opacity="null" stroke-opacity="null" stroke-width="null"/>
            <path d="m15.19402,10.38632l-1.09268,-7.62409l0.71961,0l1.09268,7.62409l-1.09268,7.62408l-0.71961,0l1.09268,-7.62408z"
                  fill-opacity="null" stroke-opacity="null" stroke-width="null"/>
        </symbol>
        <symbol id="icon-arrow">
            <title>arrow</title>
            <path d="M7.333 24c-0.133 0-0.4 0-0.533-0.133l-6.667-6.667c0 0-0.133-0.133-0.133-0.267s0-0.133 0-0.267c0 0 0 0 0 0 0-0.133 0-0.133 0-0.267s0.133-0.133 0.133-0.267l6.667-6.667c0.4-0.133 0.8-0.133 1.067 0s0.267 0.667 0 0.933l-5.6 5.6h29.067c0.4 0 0.667 0.267 0.667 0.667s-0.267 0.667-0.667 0.667h-29.067l5.467 5.467c0.267 0.267 0.267 0.667 0 0.933 0 0.267-0.267 0.267-0.4 0.267z"></path>
        </symbol>
        <symbol id="icon-loop">
            <title>arrow</title>
            <path d="m10.00356,2.89082c0.77247,0.00094 1.51043,0.12912 2.20931,0.34325l-0.55311,0.91678l3.92621,0l-0.9818,-1.62952l-0.98105,-1.62903l-0.51643,0.8584c-0.96788,-0.33912 -2.01129,-0.52891 -3.10241,-0.52891c-5.02234,0 -9.09311,3.90146 -9.09311,8.71459c0,1.99761 0.70894,3.83297 1.88878,5.30348l1.38265,-1.01738c-0.95422,-1.18837 -1.52795,-2.67128 -1.53106,-4.28561c0.00695,-3.89136 3.29205,-7.04008 7.35203,-7.04604l0,0zm7.20529,1.74392l-1.38265,1.01787c0.95398,1.18792 1.52771,2.6699 1.53034,4.28471c-0.00695,3.89132 -3.29205,7.03959 -7.35227,7.04601c-0.71949,-0.00089 -1.40783,-0.11301 -2.06403,-0.30051l0.5205,-0.86256l-3.92619,0l0.98108,1.62862l0.98179,1.63086l0.54736,-0.91032c0.92832,0.30971 1.92185,0.4825 2.9595,0.48294c5.02307,-0.0009 9.09314,-3.90236 9.09432,-8.7155c-0.00118,-1.99761 -0.71063,-3.83252 -1.88974,-5.30212l0,0z"
                  stroke-width="1"/>
        </symbol>
        <symbol id="icon-no-loop">
            <title>arrow</title>
            <path d="m10.00356,2.89082c0.77247,0.00094 1.51043,0.12912 2.20931,0.34325l-0.55311,0.91678l3.92621,0l-0.9818,-1.62952l-0.98105,-1.62903l-0.51643,0.8584c-0.96788,-0.33912 -2.01129,-0.52891 -3.10241,-0.52891c-5.02234,0 -9.09311,3.90146 -9.09311,8.71459c0,1.99761 0.70894,3.83297 1.88878,5.30348l1.38265,-1.01738c-0.95422,-1.18837 -1.52795,-2.67128 -1.53106,-4.28561c0.00695,-3.89136 3.29205,-7.04008 7.35203,-7.04604l0,0zm7.20529,1.74392l-1.38265,1.01787c0.95398,1.18792 1.52771,2.6699 1.53034,4.28471c-0.00695,3.89132 -3.29205,7.03959 -7.35227,7.04601c-0.71949,-0.00089 -1.40783,-0.11301 -2.06403,-0.30051l0.5205,-0.86256l-3.92619,0l0.98108,1.62862l0.98179,1.63086l0.54736,-0.91032c0.92832,0.30971 1.92185,0.4825 2.9595,0.48294c5.02307,-0.0009 9.09314,-3.90236 9.09432,-8.7155c-0.00118,-1.99761 -0.71063,-3.83252 -1.88974,-5.30212l0,0z"
                  stroke-width="1"/>
        </symbol>
        <symbol id="icon-effect">
            <path d="M12,10.5c-6.1,0-11,2.4-11,5.3s4.9,5.3,11,5.3c6.1,0,11-2.4,11-5.3S18.1,10.5,12,10.5z M12,16.6c-1.4,0-2.6-0.5-2.6-1
					c0-0.6,1.2-1,2.6-1s2.6,0.5,2.6,1C14.6,16.2,13.4,16.6,12,16.6z"/>
            <path d="M19,2.9h0.4v4.7c0,0.6-0.6,1-1.4,1c-0.8,0-1.4-0.5-1.4-1s0.6-1,1.4-1c0.4,0,0.8,0.1,1,0.3V4.5l-3.2,0.7v3.1
					c0,0.6-0.6,1-1.4,1c-0.8,0-1.4-0.5-1.4-1s0.6-1,1.4-1c0.4,0,0.8,0.1,1,0.3v-4L19,2.9z"/>
            <polygon style="stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;" points="6.1,13.6 3.8,3.9 7.6,3.6"/>
        </symbol>
        <symbol id="icon-pause">
            <title>pause</title>
            <path d="M15 3h-2c-0.553 0-1 0.048-1 0.6v12.8c0 0.552 0.447 0.6 1 0.6h2c0.553 0 1-0.048 1-0.6v-12.8c0-0.552-0.447-0.6-1-0.6zM7 3h-2c-0.553 0-1 0.048-1 0.6v12.8c0 0.552 0.447 0.6 1 0.6h2c0.553 0 1-0.048 1-0.6v-12.8c0-0.552-0.447-0.6-1-0.6z"></path>
        </symbol>
        <symbol id="icon-play">
            <title>play</title>
            <path d="M15 10.001c0 0.299-0.305 0.514-0.305 0.514l-8.561 5.303c-0.624 0.409-1.134 0.106-1.134-0.669v-10.297c0-0.777 0.51-1.078 1.135-0.67l8.561 5.305c-0.001 0 0.304 0.215 0.304 0.514z"></path>
        </symbol>
        <symbol id="icon-prev">
            <title>prev</title>
            <path d="M13.891 17.418c0.268 0.272 0.268 0.709 0 0.979s-0.701 0.271-0.969 0l-7.83-7.908c-0.268-0.27-0.268-0.707 0-0.979l7.83-7.908c0.268-0.27 0.701-0.27 0.969 0s0.268 0.709 0 0.979l-7.141 7.419 7.141 7.418z"></path>
        </symbol>
        <symbol id="icon-next">
            <title>next</title>
            <path d="M13.25 10l-7.141-7.42c-0.268-0.27-0.268-0.707 0-0.979 0.268-0.27 0.701-0.27 0.969 0l7.83 7.908c0.268 0.271 0.268 0.709 0 0.979l-7.83 7.908c-0.268 0.271-0.701 0.27-0.969 0s-0.268-0.707 0-0.979l7.141-7.417z"></path>
        </symbol>
        <symbol id="icon-stop">
            <title>stop</title>
            <path d="M16 4.995v9.808c0 0.661-0.536 1.197-1.196 1.197h-9.807c-0.551 0-0.997-0.446-0.997-0.997v-9.807c0-0.66 0.536-1.196 1.196-1.196h9.808c0.55 0 0.996 0.446 0.996 0.995z"></path>
        </symbol>

    </defs>
</svg><!-- SVGs -->
<main>
    <ul class="grid" masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".grid-item"}'>
        <li class="grid-item" masonry-tile ng-repeat="song in ctrl.songList track by $index"
            ng-click="ctrl.playFromList($index)">
            <a class="grid-link">
                <div class="img-wrap">
                    <img class="img grid-img" src="{{song.imageUrl}}" alt="album1"/>
                </div>
                <span class="year">{{song.year}}</span>
                <h2 class="artist">{{song.artist}}</h2>
                <h3 class="title">{{song.title}}</h3>
            </a>
        </li>
    </ul>

    <div class="player-container">
        <div class="player-info">
            <h2 class="artist artist-player">{{ctrl.songList[ctrl.nowPlayingIndex].artist}}</h2>
            <h3 class="title title-player">{{ctrl.songList[ctrl.nowPlayingIndex].title}}</h3>
            <span class="year year-player">{{ctrl.songList[ctrl.nowPlayingIndex].year}}</span>
        </div>

        <div class="play-list">
            <ul>
                <li ng-repeat="song in ctrl.songList track by $index"
                    ng-class="{'now-playing': $index == ctrl.nowPlayingIndex, 'not-playing': $index !== ctrl.nowPlayingIndex}">
                    {{song.title}}
                </li>
            </ul>
        </div>
        <div class="player-stand">
            <div class="background-image">
                <img src="{{ctrl.songList[ctrl.nowPlayingIndex].imageUrl}}">
            </div>
            <canvas id="visualiser" ng-show="ctrl.mainCanvasType === '2d'"
                    style="width: 0%; height: 0%; display: block"></canvas>
            <canvas id="3d-visualiser" ng-show="ctrl.mainCanvasType === '3d'"
                    style="width: 0%; height: 0%; display: block"></canvas>

            <div id="controls" class="">
                <div id="player-seeker">
                    <div>
                        <span style="float:left">{{ctrl.secondsToDuration(ctrl.trackPosition)}}</span>
                        <span style="float:right">{{ctrl.secondsToDuration(ctrl.trackDuration)}}</span>
                    </div>
                    <div>
                        <input type="range" class="plain-range" id="playback-range" name="track" min="0"
                               max="{{ctrl.trackDuration}}" ng-model="ctrl.trackPosition"
                               ng-change="ctrl.trackPositionChanged($event)">
                    </div>
                </div>
                <div class="control-buttons">
                    <div class="song-controls">
                        <button class="player-button button-previous" aria-label="Previous" ng-click="ctrl.previous()">
                            <svg class="icon">
                                <use xlink:href="#icon-prev"></use>
                            </svg>
                        </button>

                        <!--<button class="player-button button-stop" aria-label="Stop" ng-click="ctrl.stop()">-->
                        <!--<svg class="icon">-->
                        <!--<use xlink:href="#icon-stop"></use>-->
                        <!--</svg>-->
                        <!--</button>-->
                        <button class="player-button button-play" aria-label="Resume" ng-show="ctrl.isPaused"
                                ng-click="ctrl.resume()">
                            <svg class="icon">
                                <use xlink:href="#icon-play"></use>
                            </svg>
                        </button>
                        <button class="player-button button-pause" aria-label="Pause" ng-click="ctrl.pause()"
                                ng-show="!ctrl.isPaused">
                            <svg class="icon">
                                <use xlink:href="#icon-pause"></use>
                            </svg>
                        </button>
                        <button class="player-button button-next" aria-label="Next" ng-click="ctrl.next()">
                            <svg class="icon">
                                <use xlink:href="#icon-next"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="general-controls">
                        <!--<div>-->
                        <!--<button class="player-button button-volume" aria-label="Pause"-->
                        <!--ng-click="!ctrl.showVolumeRange ? ctrl.showVolumeRange = true: ctrl.showVolumeRange = false;"-->
                        <!--ng-show="!ctrl.isPaused">-->
                        <!--<svg class="icon">-->
                        <!--<use xlink:href="#icon-volume"></use>-->
                        <!--</svg>-->

                        <!--</button>-->
                        <!--<input id="ex4" ng-class="{'unhide': ctrl.showVolumeRange, 'hide': !ctrl.showVolumeRange}"-->
                        <!--type="text"-->
                        <!--data-slider-min="0"-->
                        <!--data-slider-max="10"-->
                        <!--data-slider-tooltip="hide"-->
                        <!--data-slider-step="1"-->
                        <!--data-slider-value="5"-->
                        <!--data-slider-orientation="vertical"-->
                        <!--data-slider-handle="custom"-->
                        <!--/>-->
                        <!--</div>-->
                        <div class="">
                            <a href="#"><img src="components/visualiser/img/rock.png"
                                             ng-click="ctrl.showVisualiser = !ctrl.showVisualiser" height="50"></a>
                            <!--<a href="#" id="toggleVolume"><img src="components/visualiser/img/volume.png" height="50"-->
                            <!--ng-click="!ctrl.showVolumeRange ? ctrl.showVolumeRange = true: ctrl.showVolumeRange = false;">-->
                            <!--<input id="ex4" ng-class="{'unhide': ctrl.showVolumeRange, 'hide': !ctrl.showVolumeRange}"-->
                            <!--type="text"-->
                            <!--data-slider-min="0"-->
                            <!--data-slider-max="10"-->
                            <!--data-slider-tooltip="hide"-->
                            <!--data-slider-step="1"-->
                            <!--data-slider-value="5"-->
                            <!--data-slider-orientation="vertical"-->
                            <!--data-slider-handle="custom"-->
                            <!--/>-->
                            <!--</a>-->
                            <button ng-show="ctrl.isLooped"
                                    ng-click="ctrl.isLooped = !ctrl.isLooped"
                                    class="player-button button-loop" aria-label="Loop">
                                <svg class="icon">
                                    <use xlink:href="#icon-loop"></use>
                                </svg>
                            </button>
                            <button ng-show="!ctrl.isLooped"
                                    ng-click="ctrl.isLooped = !ctrl.isLooped"
                                    class="player-button button-loop" aria-label="No loop">
                                <svg class="icon">
                                    <use xlink:href="#icon-no-loop"></use>
                                </svg>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="effects">
        <!-- Realistic LP needle scratch effect toggle -->
        <button class="effects-button effects-button-vinyleffect effects-button-active"
                aria-label="Toggle Vinyl effect">

            <label for="upload-file" class="">
                <input class="input-file" name="file" id="upload-file" onchange="ctrl.onFileChange(e)"
                       type="file"/>

                <span><img src="components/visualiser/img/select-audio.png" height="50"></span>
                <i class="bento-icon-chevron-right"></i>
            </label>
        </button>

        <!-- Impulse responses -->
        <div class="effects-list">
            <button class="effects-button">1</button>
            <button class="effects-button">2</button>
            <button class="effects-button">3</button>
        </div><!-- /effects__irs -->
    </div>

    <div class="upload-section">
        <!--<canvas id="upload-progress-bg"></canvas>-->
        <span id="upload-percentage" style="font-size: larger"></span>
        <div class="upload-file-details">
            <!--<span>File: {{ctrl.fileToUpload.name}}</span>-->
            <!--<span>Size: {{ctrl.fileToUpload.size}}</span>-->
            <a href="#" ng-show="ctrl.showUploadButton">
                <img src="components/visualiser/img/upload.png" ng-click="ctrl.upload()" width="50">
            </a>
        </div>
    </div>
</main>